<!doctype html>
<html>
  <head>
    <title>List <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Books Available</h1>
    <ul>
        <%= for (let {id, name, price} of availableBooks){
            <li><%= id %>,<%= name %>, <%= price %></li>
    } %>
</ul>
</body>
</html>